<h2 class="text-2xl font-bold text-center my-8">Book Your Flight</h2>

<%=form_with url: "/flights", method: :get do |form|%>
  <!-- Departure Airport -->
  <div class="mb-4">
    <%= form.label :departure_airport, "Departure", class: "block text-sm font-medium text-gray-700"%>
    <%= select_tag(:departure_airport, options_for_select(@airports), class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm") %>
  </div>
  
    <!-- Arrival Airport -->
  <div class="mb-4">
    <%= form.label :arrival_airport, "Arrival", class: "block text-sm font-medium text-gray-700"%>
    <%= select_tag(:arrival_airport, options_for_select(@airports), class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm") %>
  </div>

    <!-- Number of Passengers -->
  <div class="mb-4">
    <%= form.label :passengers, "Number of Passengers", class: "block text-sm font-medium text-gray-700"%>
    <select id="passengers" name="passengers" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      <% (1..5).map do |i| %>
        <option value="<%= i %>"><%= i %></option>
      <% end %>
    </select>
  </div>

    <!-- Date -->
  <div class="mb-4">
    <%= form.label :start, "Date", class: "block text-sm font-medium text-gray-700"%>
    <%= select_tag(:start, options_for_select(@flight_dates), class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm") %>
  </div>

  <!-- Submit Button -->
  <div class="flex justify-between items-center">
    <%= form.submit "Search", class: "bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700 transition"%>
  </div>

<%end%>


<% if params[:commit] %>
  <% unless @flights.blank? %>
    <h2 class="text-xl font-semibold text-center my-6">Available Flights</h2>
    <form accept-charset="UTF-8" action="/bookings/new" method="get" class="max-w-2xl mx-auto p-6 bg-white shadow-md rounded-md">
      <input type="hidden" name="booking[tickets]" value="<%= @result[:total_tickets] %>"/>
      <% @result[:flights].each do |flight| %>
        <div class="mb-4 p-4 border rounded-md hover:shadow-lg transition">
          <input type="radio" id="<%= flight.id %>" name="booking[flight_id]" value="<%= flight.id %>" class="mr-2">
          <label for="<%= flight.id %>" class="text-sm font-medium text-gray-800">
            From: <%= Airport.find(flight.departure_airport_id).city %>
            To: <%= Airport.find(flight.arrival_airport_id).city %><br>
            <span class="block text-gray-600">
              <%= flight.start.strftime("%I:%M %p") %>, <%= flight.start.strftime("%d-%b-%Y") %><br>
              Duration: <%= "#{flight.duration.parts[:hours]}:#{flight.duration.parts[:minutes]}" %>
            </span>
          </label>
        </div>
      <% end %>
      <div class="flex justify-between items-center">
        <input
          type="submit"
          value="Next"
          name="booking_status"
          data-turbo-submits-with="Searching..."
          class="bg-gradient-to-r from-indigo-500 to-purple-500 text-white font-bold py-2 px-4 rounded-lg shadow-md hover:shadow-lg hover:from-indigo-600 hover:to-purple-600 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75 transition duration-300 ease-in-out"
        />
        <%= link_to 'Back to Home', root_path, class: "text-indigo-600 hover:text-indigo-700 text-sm" %>
      </div>
    </form>
  <% else %>
    <p class="text-center text-gray-500 mt-6">No flights found</p>
  <% end %>
<% end %>
