<h2>Book Your Flight</h2>

<form accept-charset="UTF-8" action="/flights" method="get">
  <!-- Departure Airport -->
  <label for="departure_airport">Departure Airport:</label>
  <select id="departure_airport" name="departure_airport">
    <%= @airports.map do |airport| %>
      <option value=<%= airport.code %>><%="#{airport.city} (#{airport.code})" %></option>
    <% end %>
  </select>

  <!-- Arrival Airport -->
  <label for="arrival_airport">Arrival Airport:</label>
  <select id="arrival_airport" name="arrival_airport">
    <%= @airports.map do |airport| %>
      <option value=<%= airport.code %>><%="#{airport.city} (#{airport.code})" %></option>
    <% end %>
  </select>

  <!-- Number of Passengers -->
  <label for="passengers">Number of Passengers:</label>
  <select id="passengers" name="passengers">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <!-- Date -->
  <label for="start">Date:</label>
  <select id="start" name="start">
    <%= @flight_dates.map do |fd| %>
      <option value=<%= fd %>><%= fd %></option>
    <% end %>
  </select>

  <!-- Submit Button -->
  <div>
    <input
      type="submit"
      value="Search"
      name="commit"
      data-turbo-submits-with="Searching..."
    />
  </div>
  <!-- Back to Home Link -->
  <%= link_to 'Back to Home', root_path %>
</form>


<% if params[:commit] %>
  <% unless @flights.blank? %>
    <h2>Available Flights</h2>
    <form accept-charset="UTF-8" action="/bookings/new" method="get">
      <input type="hidden" name="booking[tickets]" value="<%=@result[:total_tickets]%>"/>
      <% @result[:flights].each do |flight| %>
        <div>
          <input type="radio" id="<%=flight.id%>" name="booking[flight_id]" value="<%=flight.id%>"/>
          <label for="<%=flight.id%>">
            <span>From: <%= Airport.find(flight.departure_airport_id).city %></span>
            <span>To: <%= Airport.find(flight.arrival_airport_id).city %></span>
            <span><%=flight.start.strftime("%I:%M %p")%></span>
            <span><%= flight.start.strftime("%d-%b-%Y") %></span>
            <span><%="#{flight.duration.parts[:hours]}:#{flight.duration.parts[:minutes]}" %></span>
          </label>
        </div>
      <% end %>      
      <input type="submit" value="Next" name="booking_status"/>
    </form>
  <% else %>
    <h2>No flights found</h2>
  <% end %>
<% end %>
